.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-logo {
  margin-top: 20px;
  height: 100px;
  pointer-events: none;
}

html {
  min-height: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2016/06/26/22/33/background-1481479_960_720.jpg);
  background-size: cover;
}
